* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Start */
body {
    background: rgb(255, 255, 255);
    padding: 0 200px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 0;
    background: #ffffff;
}

.logo img {
    width: 160px;
    height: auto;
}

nav ul {
    display: flex;
    padding: 0 60px;
    gap: 45px;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #646464;
    font-size: 18px;

}

.user-menu {
    margin-left: auto;
}

.user-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;

}

.user-menu ul li a img.icon-cart {
    width: 30px;
    height: auto;
}

.user-menu ul li a img.image-avatar {
    width: 65px;
    height: auto;
}
/* Header End */



/* Content Start */
.product-container {
    display: flex;
    gap: 150px;
    padding: 100px 70px;
    margin: 0 auto;
}

.product-gallery {
    flex: 1;
}

.product-gallery img {
    width: 600px;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
}

.thumbnails {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
}

.thumbnails img {
    width: 120px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
}

.thumbnails img:hover {
    transform: scale(1.1);
    border: 3px solid #ff9100;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.brand {
    color: #888888;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-details h1 {
    font-size: 45px;
    margin-bottom: 45px;
    color: #000000;
}

.description {
    font-size: 18px;
    color: #646464;
    margin-bottom: 40px;
}

.price {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.current-price {
    font-size: 40px;
    font-weight: bold;
    margin-right: 35px;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
}

.original-price {
    display: flex;
    margin-bottom: 40px;
}

.old-price {
    font-size: 22px;
    text-decoration: line-through;
    color: #888888;
}

.quantity-selector {
    display: flex;
    justify-content: flex-start;
}

.decrease-quantity {
    background: #e2e2e24b;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.increase-quantity {
    background: #e2e2e24b;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-selector input {
    text-align: center;
    width: 80px;
    font-size: large;
    font-weight: bold;
    border: none;
    background: #e2e2e24b;
}

.add-to-cart {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
    padding: 20px 120px;
    background: #ff9100;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}



/* Content End */